:root {
  /* fonts families */
  --font-system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --monserrat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;

  /* colors */
  --white: #fff;
  --orange: #ff730b;
  --brand: #7024c6;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-system);
  background: #f4f7fc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 10px;
  padding-bottom: 100px;
  position: relative;
}
.ui-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.font-monserrat {
  font-family: var(--monserrat);
}
.font-poppins {
  font-family: var(--poppins);
}
.bold {
  font-weight: bold;
}
.gray {
  color: #666;
}
.white {
  color: #fff;
}

section {
  position: relative;
  z-index: 2;
}
.hero-bg {
  display: block;
  width: 100%;
  height: 1000px;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin-top: -5vw;
  background: var(--brand);
  clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 70%);
  transition: all 1s ease-in;
}
.hero-section .text1 {
  color: var(--white) !important;
  font-weight: 600;
  font-size: 4rem;
  text-shadow: 0 0 2px #fff;
  margin: 0 !important;
  line-height: 56px;
}
.hero-section .text2 {
  color: var(--white) !important;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 56px;
  text-shadow: 0 0 2px #fff;
  margin: 0 !important;
  margin-bottom: 40px !important;
}
.hero-section .text3 {
  color: var(--white) !important;
  font-size: 1rem;
  margin: 0 !important;
}
.hero-section a img {
  width: 200px !important;
}
.hero-section .phones {
  margin-top: 100px;
  transform: scale(1.5);
  transition: all 0.5 ease;
}

.feature-section {
  padding-top: 100px;
}
.feature-section h3 {
  color: var(--brand) !important;
  text-align: center !important;
  margin: 20px auto 0;
  font-weight: bold;
  font-size: 3rem;
}
.feature-section .col-md-3 {
  text-align: center !important;
}
.feature-section .text-warning {
  color: var(--orange) !important;
  font-weight: bold;
}
.sendsms {
  margin: auto;
  text-align: center !important;
}
.sendsms h5 {
  color: var(--brand) !important;
  text-align: center !important;
  font-weight: 600;
  font-family: var(--poppins);
}
.sendsms p {
  color: #333 !important;
  text-align: center !important;
  font-weight: 600;
  font-family: var(--poppins);
}
.sendsms button {
  background: var(--brand);
  border: none !important;
  border-radius: 8px;
  padding: 8px 20px;
  color: var(--white);
  font-weight: bold;
  clear: both;
  letter-spacing: 1px;
  margin: 10px auto;
}
.sendsms span {
  color: var(--brand);
  font-weight: bold;
}
.sendsms input {
  background: transparent;
  border: none;
  border-bottom: solid 1px var(--orange);
  outline: none;
}
.modal-content .success {
  margin: 100px auto 10px;
  margin-left: 40%;
  text-align: center;
  align-items: center !important;
  max-width: 100px;
  width: 100px !important;
  align-content: center;
}
.modal-content .fail {
  margin: 100px auto 10px;
  margin-left: 40%;
  text-align: center;
  align-items: center !important;
  max-width: 100px;
  width: 100px !important;
  align-content: center;
  background: #900;
  height: 100px;
  display: block;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
.modal-content h3 {
  color: var(--brand);
  text-align: center;
  margin: 20px auto 100px;
}

.flechas {
  position: absolute !important;
  width: 200px !important;
}
.flecha1 {
  margin-top: 20px;
  margin-left: 180px;
}
.flecha2 {
  margin-top: 250px;
  margin-left: 460px;
}
.flecha3 {
  margin-top: 20px;
  margin-left: 740px;
}

.feature2-bg {
  display: block;
  width: 100%;
  height: 800px;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin-top: -5vw;
  background: var(--white);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 65%
  );
  transition: all 1s ease-in;
}
.feature2-section h3 {
  color: var(--brand) !important;
}
.feature2-section .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px #ccc;
  min-height: 100%;
  padding: 20px 2px 5px;
  text-align: center;
}
.feature2-section .card img {
  max-height: 200px;
}
.feature2-section .card-title {
  font: bold 14px var(--monserrat);
  color: var(--brand);
}
.feature2-section .card-desc {
  font: bold 14px var(--poppins);
}

.faq-bg {
  display: block;
  width: 100%;
  height: 115%;
  content: " ";
  position: absolute;
  top: -14%;
  left: 0;
  z-index: -1;
  margin-top: -5vw;
  background: var(--white);
  clip-path: polygon(0% 26%, 100% 0%, 100% 100%, 0% 100%);
  transition: all 1s ease-in;
}
.faq-section {
  width: 100%;
}
.faq-section .row {
  width: 85%;
  margin: 0 auto;
  padding: 0 20% 10%;
}
.faq-section button {
  background: transparent !important;
  width: 100%;
  box-shadow: none !important;
  color: #333 !important;
  letter-spacing: 1px;
  border: none;
  border-radius: 0;
  position: relative;
  padding: 10px 0 0;
  text-align: left;
  font: bold 14px var(--poppins);
}
.faq-section button small {
  float: right;
  color: var(--brand);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 10px;
}
.faq-section .card {
  border: none;
  border-radius: 0;
}
.faq-section hr {
  border: none;
  border-bottom: solid 1px#ccc;
  width: 120%;
  margin-left: -10%;
}
.faq-section h3 {
  color: var(--brand) !important;
  text-align: center !important;
  margin: 20px auto 100px auto;
}

.testimonials-section {
  margin: 100px auto 0px;
  align-content: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding-bottom: 600px;
}
.testimonials-section .row {
  width: 80%;
  margin: 0 auto;
}
.testimonials-section h3 {
  color: var(--brand) !important;
  text-align: center !important;
  margin: 20px auto 200px auto;
  font-size: 3rem;
}
.testimonials-section .carousel-inner {
  overflow: visible;
}
.testimonial-bg {
  position: absolute !important;
  z-index: -1;
  width: 80%;
  left: -1%;
  top: -150%;
}
.testimonials-section .carousel-item img {
  max-width: 200px !important;
  top: -180px;
  border: solid 10px var(--white);
  border-radius: 180px;
  box-shadow: 0 0 20px #ccc;
}
.testimonials-section .carousel-item h3,
.testimonials-section .carousel-item p {
  color: var(--brand);
  font: normal 20px var(--poppins);
  width: 300px;
  margin: auto;
  text-align: center;
  vertical-align: bottom;
}

.testimonials-section .carousel-caption {
  top: 100px;
}
.testimonials-section .carousel-indicators {
  top: 80vh;
}
.testimonials-section .carousel-indicators li {
  border-radius: 20px;
  width: 40px;
  height: 20px;
  background: var(--brand);
}
.testimonials-section .carousel-control-prev,
.testimonials-section .carousel-control-next {
  background: rgba(0, 0, 0, 0.5);
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
  top: 150px;
  z-index: 100;
}
.testimonials-section .phones {
  position: absolute !important;
  z-index: -1;
  bottom: 100px;
  left: 60px;
  width: 350px !important;
  max-width: 400px !important;
}

.hero2-section {
  padding-bottom: 0;
}
.hero2-section p {
  color: var(--orange) !important;
  font: bold 28px var(--poppins);
  margin: auto;
  text-align: left;
  vertical-align: bottom;
}
.hero2-section button {
  background: var(--brand);
  border: none !important;
  border-radius: 8px;
  padding: 8px 20px;
  color: var(--white);
  font-weight: bold;
  clear: both;
  letter-spacing: 1px;
  margin: 10px auto;
}

.footer {
  padding-top: 30px;
  padding-bottom: 5px;
  background: linear-gradient(to right, #7436c7, #af90f4);
}
.footer * {
  color: var(--white) !important;
}
.footer .logo {
  width: 200px !important;
}
.footer .facebook {
  width: 30px !important;
}
.footer .logo-marketplaces {
  text-align: center;
  align-items: center;
  align-items: center;
  margin-top: 60px;
}
.footer .logo-market {
  max-width: 100px !important;
  margin: 10px;
}

.yoli {
  position: fixed;
  z-index: 99;
  bottom: 50px;
  right: 100px;
}
.yoli * {
  font-family: var(--monserrat);
  transition: all 0.5 ease;
}
.yoli .yoli-icon img {
  width: 80px !important;
  right: -150px;
  cursor: pointer;
}
.yoli .yoli-bubble {
  position: relative;
  background: var(--brand);
  border-radius: 0.4em;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px #222;
  transition: all 0.5 ease;
  cursor: pointer;
}
.yoli .yoli-bubble:hover {
  box-shadow: 5px 5px 14px #111;
  transition: all 0.5 ease;
}
.yoli .yoli-bubble:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 0;
  height: 0;
  border: 0.469em solid transparent;
  border-top-color: var(--brand);
  border-bottom: 0;
  margin-left: -0.469em;
  margin-bottom: -0.469em;
}
@media screen and (max-width:1000px) {
  .hero-section .phones { 
    width: 50%!important;
    margin-top: -100px;
    margin-left: 50% !important;
  }

  .faq-section .row {
    width:90% !important;
    padding: 0 10% 10%;
  }
  .yoli {
    right: 50px;
  }
}
@media screen and (max-width:700px) {
  .hero-section .phones { 
    width: 50%!important;
    margin-top: -100px;
    margin-left: 60% !important;
  }

  .feature-section img {
    width:50% !important;
  }
  .feature-section .flechas {
    display:none;
  }

  .feature2-section .card {
    
    box-shadow: none !important;
  }

  .testimonials-section {
    margin-top:-50;
  }
  .testimonials-section .carousel-caption {
    display:block !important;
  }
  .testimonials-section .carousel-control-next,
  .testimonials-section .carousel-control-prev,
  .testimonials-section .phones {
    display:none;
  }
  .testimonial-bg {
    width: 150%!important;
    top: -110%;
    left: -30%;
  }

  .faq-section .row {
    width:100% !important;
    padding: 0 10% 10%;
  }

  .yoli {
    transform: scale(.95);
    left: 55%;
  }
  .yoli-bubble { display:none }
}